<!DOCTYPE html>
<html>
<head>
	<css href="__PUBLIC__/css/bootstrap.min.css" />
	<css href="__PUBLIC__/css/themes/bootstrap/easyui.css" />
	<css href="__PUBLIC__/css/themes/icon.css" />
	<css href="__PUBLIC__/css/codemirror.css" />
	<css href="__PUBLIC__/css/jquery.fileupload.css"/>
	<css href="__PUBLIC__/css/style.css" />
</head>
<body>
	<div id="" class="easyui-layout" style="width:1000px;height:640px;">
		<div data-options="region:'north',split:true" style="height:50px">
			<form class="form-inline" role="form" id="top-form">
			  <div class="form-group">
			    <input type="text" class="form-control"  placeholder="New Blog Title">
			  </div>
			  <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-plus"> </span>New Draft</button>
			  <button type="submit" class="btn btn-info" id="save-btn"><span class="glyphicon glyphicon-floppy-disk"> </span>Save</button>
			  <button type="submit" class="btn btn-default" id="preview-btn"><span class="glyphicon glyphicon-eye-open"> </span>Preview</button>
			</form>
		</div>
		<div data-options="region:'south',split:true" style="height:100px;">
			<div id="upload-forms">
				<div class="col-md-4">
					<span class="btn btn-warning fileinput-button">
				        <i class="glyphicon glyphicon-plus"></i>
				        <span>Select thumbnail...</span>
				        
				        <input id="thumb_upload" type="file" name="file" data-url="<php>echo env('WEB_ROOT')</php>Home/Upload/thumb" >
					    
				    </span>
				    <div id="thumbnail_progress" class="progress progress-striped active">
				        <div class="progress-bar progress-bar-warning"></div>
				    </div>
				</div>
				<div class="col-md-4">
					<span class="btn btn-success fileinput-button">
				        <i class="glyphicon glyphicon-plus"></i>
				        <span>Select image/inset...</span>
				        <input id="inset_upload" type="file" name="file" data-url="<php>echo env('WEB_ROOT')</php>Home/Upload/inset" multiple>
				    </span>
				    <div id="image_progress" class="progress progress-striped active">
				        <div class="progress-bar progress-bar-success"></div>
				    </div>
				</div>
				<div class="col-md-4">
					<span class="btn btn-info fileinput-button">
				        <i class="glyphicon glyphicon-plus"></i>
				        <span>Select attachment...</span>
				        <input id="attachment_upload" type="file" name="file" data-url="<php>echo env('WEB_ROOT')</php>Home/Upload/attachment" multiple>
				    </span>
				    <div id="attachment_progress" class="progress progress-striped active">
				        <div class="progress-bar progress-bar-info"></div>
				    </div>
				</div>
			</div>
		</div>
		<div id="east" data-options="region:'east',split:true" title="" style="width:200px;">
			<div class="easyui-layout" data-options="fit:true">
				<div id="east-center" data-options="region:'center',split:true" title="Images" style="">
					<table class="table table-bordered table-hover"></table>
				</div>
				<div id="east-south" data-options="region:'south',split:true" title="Attachments" style="height:200px">
					<table class="table table-bordered table-hover"></table>
				</div>
			</div>
			
		</div>
		<div id="west" data-options="region:'west',split:true,iconCls:'icon-search'" title="Blog List" style="width:205px;">
			<table class="table table-bordered table-hover">
			</table>
			<div id="paginate">
				<a class="btn btn-default btn-xs" id="go_previous">Previous</a>
				<a class="btn btn-default btn-xs" id="go_next">Next</a>
				<span id="current_page" class="page_number">0</span>/<span id="total_page" class="page_number">0</span>
			</div>
		</div>
		<div data-options="region:'center',title:'Markdown Editor',iconCls:'icon-edit'">
			<div class="easyui-layout" data-options="fit:true">
				<div data-options="region:'north',split:true" title="" style="height:140px">
					
					<a><img id="thumb" data-holder="__PUBLIC__/images/thumbnail_holder.png" src="__PUBLIC__/images/thumbnail_holder.png"></a>
					<p>
						<div class="input-group input-group-sm col-xs-8">
						  <input type="text" id="title" class="form-control">
						  <span class="input-group-addon">.markdown</span>
						  <a class="btn btn-default btn-sm" id="update_title"><span class="glyphicon glyphicon-pencil"></span></a>
						</div>
					</p>
					<p><b>Draft Title:</b> <span id="ptitle"></span></p>					
					<p><b>Create Time:</b> <span id="create_time"></span></p>
					<p><b>Last Save Time:</b> <span id="last_save_time"></span></p>


				</div>
				<div data-options="region:'center',split:true" title="" style="">
					<textarea id="content" name="content"></textarea>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript">
		var config = {}
		config['web_root'] = '<php>echo env("WEB_ROOT")</php>';
		config['public'] = '__PUBLIC__/'
		config['thumb_dir'] = config['web_root']+'Home/thumbnails/'
		config['inset_dir'] = config['web_root']+'Home/insets/'
		config['attachment_dir'] = config['web_root']+'Home/attachments/'
		config['page_size'] = 10;

		var editor

	</script>
	<js href="__PUBLIC__/js/jquery.min.js" />
	<js href="__PUBLIC__/js/jquery.easyui.min.js" />
	<js href="__PUBLIC__/js/codemirror.js" />
	<js href="__PUBLIC__/js/markdown.js" />
	<js href="__PUBLIC__/js/continuelist.js" />
	<js href="__PUBLIC__/js/uploader.js" />
	<if condition="C('MOCK')">
    <js href="__PUBLIC__/js/jquery.mockjax.js" />
    <js href="__PUBLIC__/js/mock.js" />
    </if>
    <js href="__PUBLIC__/js/client.js"/>
</body>
</html>
